@model ConfigurationModel

@{
    ViewBag.PageTitle = T("Admin.NopStation.BookingManagement.Configuration").Text;
    NopHtml.SetActiveMenuItemSystemName("BookingManagement.Configuration");
}

@{
    const string hideInfoBlockAttributeName = "BookingManagement.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hideOverrideBlockAttributeName = "BookingManagement.HideOverrideBlock";
    var hideOverrideBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideOverrideBlockAttributeName);
}

<form asp-controller="BookingManagement" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.BookingManagement.Configuration")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync("StoreScopeConfiguration")
                <nop-cards id="booking-panels">
                    <nop-card asp-name="booking-info" asp-icon="fas fa-info" asp-title="@T("Admin.NopStation.BookingManagement.Configuration.Settings")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_Configure.Info", Model)</nop-card>
                </nop-cards>
            </div>
        </div>
    </section>
</form>
